body {
    background-color: #b2804e; /* Azul claro para representar a água do mar */
    color: #2E8B57; /* Verde escuro para representar a cor da praia */
    font-family: 'Arial', sans-serif; /* Fonte padrão para uma aparência mais limpa */
  }